<main class="container mt-5">
  {{#if passwordChanged}}
    <h1>
      Password Changed!
    </h1>
    <p>
      You may now
      <a href="/account/login">Login</a>
      with your new password.
    </p>
  {{else if emailReceived}}
    <h1>
      Reset Password
    </h1>
    <form method="POST" class="form needs-validation" novalidate>
      <div class="form-group">
        Please enter your new password.
      </div>
      <div class="form-group">
        <label for="new_password">
          New Password
        </label>
        <input
          id="new_password"
          name="new_password"
          type="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
          Please enter your new password.
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">
          Confirm Password
        </label>
        <input
          id="confirm_password"
          name="confirm_password"
          type="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
          Please confirm your new password.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Change Password
        </button>
      </div>
      <div class="form-group">
        <output class="text-danger">
          {{error}}
        </output>
      </div>
    </form>
  {{else if emailSent}}
    <h1 class="text-danger">
      Reset Password Sent!
    </h1>
    <p class="text-danger">
      Reset password email sent. Please check your inbox.
    </p>
  {{else}}
    <h1>
      Reset Password
    </h1>
    <form method="POST" class="form needs-validation" novalidate>
      <div class="form-group">
        <label for="email">
          What is your email address?
        </label>
        <input
          id="email"
          name="email"
          type="email"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
          Please enter your email address.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Send Email
        </button>
      </div>
      <div class="form-group">
        <output class="text-danger">
          {{error}}
        </output>
      </div>
    </form>
  {{/if}}
</main>