<option value="{{selected}}" hidden>{{selected}}</option>
{{#each options}}
<option data-value="{{value}}" value="{{value}}" {{tern (eq value ../selected) "selected" ""}}> {{text}} </option>
{{/each}}