<main class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Places</a></li>
          <li class="breadcrumb-item"><a href="/place/{{place._id}}">{{place.name}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Review</li>
        </ol>
      </nav>
    </div>
  </div>
  <h3 class="h3">Review for "{{place.name}}"</h3>
  <form id="add-review-form" action="/api/review/" method="POST">
    {{!-- <div class="form-group">
      <input type="hidden" class="form-control" name="user_id" id="user_id" value="{{auth.user_id}}">
    </div> --}}
    <input type="hidden" class="form-control" name="place_id" id="place_id" value="{{place._id}}">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
      <label for="score">Score</label>
      <input type="number" class="form-control" name="score" id="score">
    </div>
    <div class="form-group">
      <label for="description">Review Text</label>
      <textarea id="description" class="form-control" name="description" rows="4" cols="50"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Save</button>
      <input class="btn btn-secondary" type="reset" value="Reset">
    </div>
    <div class="form-group">
      <output class="text-danger" style="white-space: pre-wrap"></output>
    </div>
  </form>
</main>