<main class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/place">Place</a></li>
          <li class="breadcrumb-item"><a
              href="/place/{{#if reviews}}{{#each reviews}}{{#each reviewed_place}}{{_id}}{{/each}}{{/each}}{{/if}}">{{#if reviews}}{{#each reviews}}{{#each reviewed_place}}{{name}}
              ({{category}}): {{city}}{{#if state}},{{state}}{{/if}}, {{country}} {{/each}}{{/each}}{{/if}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Review by {{#if reviews}}{{#each reviews}}{{#each reviewing_user}}{{username}}{{/each}}{{/each}}{{/if}}
          </li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="row">
    {{#if reviews}}
    <div class="col-md-12">
      {{#each reviews}}
      <div class="card">
        <div class="card-body">
          <div class="card-title h2 mb-3 font-weight-bold">
            <div>
              "{{title}}"
            </div>
          </div>
          <div class="card-text mb-4">
            {{description}}
          </div>
          {{#if (eq ../user._id user_id)}}
          <button id="edit-review-button-modal" class="btn btn-primary" data-place="{{place_id}}"
            data-title="{{review.headline}}"><i class="fas fa-edit"></i> edit my review</a>
            <button id="delete-review-from-view" class="btn btn-danger" data-id="{{_id}}"
              data-title="{{title}}" data-place="{{#each reviewed_place}}{{_id}}{{/each}}"><i class="fas fa-trash"></i> delete my review</a>
              {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  </div>


  {{#if reviews}}{{#each reviews}}
  <div class="modal fade" tabindex="-1" role="dialog" id="message">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="edit-review-form" action="/api/review/{{_id}}" method="POST" class="form needs-validation"
            novalidate>
            <div class="form-group">
              <input type="hidden" class="form-control" name="_id" id="_id" value="{{_id}}">
              <input type="hidden" class="form-control" name="place_id" id="place_id" value="{{place_id}}">
              <input type="hidden" class="form-control" name="user_id" id="user_id" value="{{user_id}}">
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{title}}">
              <div id="title_error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="title">Score</label>
              <input type="number" class="form-control" name="score" id="score" value="{{score}}">
              <div id="score_error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="description">Review Text</label>
              <textarea id="description" class="form-control" name="description" rows="4"
                cols="50">{{description}}</textarea>
              <div id="description-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Save</button>
              <input class="btn btn-secondary ml-1" type="reset">
            </div>
            <div class="form-group">
              <output class="text-danger" style="white-space: pre-wrap"></output>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}{{/if}}
</main>