<main class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Places</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{place.name}}</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
      <a href="/review/add/{{place._id}}" id="add-review-button" class="btn btn-primary"><i class="fas fa-book-open"></i> Add Review</a>
    </div>
  </div>



  <div class="row">
    <div class="col col-md-12 col-lg-12 col-xl-12 rounding-edge">
      <div class="card mb-3 rounding-edge">
        <img class="card-img-top-view rounding-edge" src="/uploads/{{place.image.filename}}" alt=""></img>
      </div>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{place.name}}</li>
          <li class="list-group-item"><span class="badge badge-primary">{{place.category}}</span></li>
          <li class="list-group-item">{{place.city}}{{#if place.state}}, {{place.state}}{{else}},
            {{/if}}{{place.country}}</li>
        </ul>
      </div>
      {{#if place.description}}
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{place.description}}</li>
        </ul>
      </div>
      {{/if}}
    </div>

  </div>


  <div class="row mt-3">
    {{#if reviews}}
    <div class="col-md-4">
      <h2>Reviews</h2>
      {{#each reviews}}
      <div class="card">
        <div class="card-body">
          <div class="card-title">"{{title}}"</div>
          <div class="card-subtitle">By: {{#each reviewing_user}}{{username}} {{/each}}</div>
          <div class="card-subtitle">Score: ({{score}})
            <span style="color:yellow">{{#if (eq score 1)}} <i class="fas fa-star"></i>{{/if}}
              {{#if (eq score 2)}} <i class="fas fa-star"></i><i class="fas fa-star"></i>{{/if}}
              {{#if (eq score 3)}} <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i>{{/if}}
              {{#if (eq score 4)}} <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i>{{/if}}
              {{#if (eq score 5)}} <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i>{{/if}}</span>
          </div>
          <div class="card-text mt-1">
            {{description}}

          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-text">
          There are no reviews yet.
        </div>
      </div>
    </div>
  </div>
  {{/if}}



  {{!-- <div id="message">This is my modal</div> --}}
  <div class="modal fade" tabindex="-1" role="dialog" id="message">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Place</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add-place-form-modal" action="/api/place" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name">
              <div id="title-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <input type="text" class="form-control" name="category" id="category">
              <div id="category-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" id="city">
              <div id="city-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" name="state" id="state">
              <div id="state-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" name="country" id="country">
              <div id="country-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input type="text" class="form-control" name="image" id="image">
              <div id="image-error" class="text-danger"></div>
            </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input type="text" class="file-path-wrapper">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Add Place</button>
            </div>
            <div class="form-group">
              <output class="text-danger"></output>
            </div>
          </form>
        </div>
        {{!-- <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> --}}
      </div>
    </div>
  </div>

  {{!-- <div id="message">This is my modal</div> --}}
  <div class="modal fade" tabindex="-1" role="dialog" id="add-place-photo-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Place</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--  SINGLE FILE -->
          <form action="/upload/photo" enctype="multipart/form-data" method="POST" id="add-photo-form-modal">
            {{!-- <input type="file" name="avatar" accept="image/*" /> --}}
            <input type="file" class="form-control-file" name="uploaded_file" id="uploaded_file">
            <button class="btn btn-primary" data-id="{{place._id}}" id="photoBtn" type="submit">Upload Photo!</button>

            {{!-- <input type="submit" value="Upload Photo" /> --}}
          </form>
        </div>
        {{!-- <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> --}}
      </div>
    </div>
  </div>
</main>

<script>

</script>